<div class="bg-gray-100 p-4 rounded-lg shadow-md">
  <h2 class="text-xl font-semibold mb-4">Step {{ currentStep }}</h2>
  <p class="text-gray-600">Descrição do passo...</p>

  <!-- Barra de progresso -->
  <div class="progress-bar">
    <div
      class="progress"
      [style.width]="(currentStep / totalSteps) * 100 + '%'"
    ></div>
  </div>

  <div class="mt-10">
    <form [formGroup]="form" storage="multi-step-form">
      @if(currentStep === 1){
      <app-step1></app-step1>
      } @else {
      <app-step2></app-step2>
      }

      <div class="mt-4 flex justify-center">
        <button
          class="px-4 py-2 bg-blue-500 text-white rounded-md mr-2"
          (click)="goBack()"
          [disabled]="currentStep === 1"
        >
          Voltar
        </button>
        <button
          class="px-4 py-2 bg-blue-500 text-white rounded-md"
          (click)="goForward()"
          [disabled]="currentStep === totalSteps"
        >
          {{ currentStep === 2 ? 'Enviar' : 'Avançar'}}
        </button>
      </div>
    </form>




  </div>

</div>
